.container {
  min-width: 1155px;
  margin-inline: auto;
  display: flex;
  @include respond(tablet) {
    min-width: 1024px;
  }
  @include respond(phone) {
    min-width: 375px;
  }
}

.main {
  display: flex;
  flex-direction: column;
}
